.layout-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.layout-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fff;
}

.layout-top {
    padding: 12px 24px;
    border-bottom: 1px solid #e5e7eb;
    height: 60px; 
    display: flex;
    align-items: center;
}

.layout-content {
    flex: 1;
    overflow-y: auto;
    padding: 24px;
}